doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    |    
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    |    
    title Chats
    |    
    style.
      body {
      max-width: 100%;
      overflow-x: hidden;
      margin: 0;
      background-color: #FFFFFF;
      }
      .Logo {
      width: 150px;
      height: 45px;
      }
      .buttons {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 200px;
      color: #FE6941;
      }
      .Chat {
      display: flex;
      height: 800px;
      border-bottom: solid 0.5px;
      }
      .Recent-Chats {
      background-color: rgb(from #FE6941 r g b / 64%);
      width: 25%;
      }
      .User-Profile-Pic {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 25%;
      padding-top: 5px;
      padding-bottom: 5px;
      }
      @media only screen and (max-width: 800px) {
      .User-Profile-Pic {
      display: none;
      }
      }
      .profile-image {
      width: 50px;
      height: 50px;
      max-width: 100%;
      border-radius: 100%;
      }
      .Username {
      display: block;
      text-align: center;
      width: 75%;
      padding-left: 20px;
      }
      @media only screen and (max-width: 500px) {
      .Username {
      width: 100%;
      padding-left: 5px;
      }
      }
      .name {
      display: flex;
      font-family: sans-serif;
      font-weight: 600;
      font-size: 15px;
      margin-top: 25px;
      margin-bottom: 0;
      width: 100%;
      }
      .text {
      display: flex;
      text-align: start;
      font-family: sans-serif;
      font-size: 12px;
      color: grey;
      margin-top: 10px;
      }
      .Current-Chat {
      display: flex;
      flex-direction: column;
      justify-content: stretch;
      width: 100%;
      border-left: solid 1px;
      }
      .Current-Chat-Header,
      .Messages,
      .Sending {
      width: 100%;
      }
      .Current-Chat-Header {
      display: flex;
      justify-content: space-between;
      height: 100px;
      border-bottom: solid 0.5px;
      }
      .Current-Chat-Info {
      display: flex;
      width: 225px;
      }
      .User-Profile-Pic-Header {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      }
      .Username-Header {
      display: block;
      width: 100%;
      padding-left: 20px;
      }
      .name-header {
      width: 100px;
      margin-bottom: 0;
      padding-top: 7px;
      font-family: sans-serif;
      font-weight: 600;
      font-size: 15px;
      }
      .text-header {
      margin-top: 3px;
      font-family: sans-serif;
      font-size: 12px;
      color: gray;
      }
      .Chat-Buttons {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 150px;
      padding-left: 40px;
      padding-right: 40px;
      }
      .Messages {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      margin-top: 2%;
      height: 100%;
      }
      .message-1,
      .message-2,
      .message-3 {
      display: flex;
      margin-bottom: 3%;
      font-family: sans-serif;
      font-size: 14px;
      }
      .message-1,
      .message-3 {
      padding-left: 15px;
      }
      .message-2 {
      display: flex;
      justify-content: flex-end;
      padding-right: 15px;
      }
      .message-1-image,
      .message-3-image {
      padding-right: 15px;
      }
      .message-2-image {
      padding-left: 15px;
      }
      .message-2p {
      background-color: #859EBC;
      }
      .message-1p,
      .message-2p,
      .message-3p {
      padding-left: 20px;
      padding-right: 15px;
      border-radius: 50px;
      width: 250px;
      border: solid 1px;
      }
      .message-1-image,
      .message-1p,
      .message-2-image,
      .message-2p,
      .message-3-image,
      .message-3p {
      display: flex;
      align-items: center;
      }
      .Sending {
      display: flex;
      justify-content: space-between;
      position: relative;
      margin-top: 90px;
      height: 80px;
      border: solid 0.5px;
      border-left: none;
      }
      .Writing-Space {
      display: flex;
      align-items: center;
      width: 90%;
      font-family: sans-serif;
      color: grey;
      padding-left: 50px;
      }
      .Send-Buttons {
      display: flex;
      justify-content: center;
      justify-content: space-evenly;
      align-items: center;
      width: 200px;
      padding-left: 10px;
      padding-right: 20px;
      }
      .Send-Button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 50px;
      background-color: rgb(from #FE6941 r g b / 75%);
      border-radius: 100px;
      }
    |    
    link(rel='stylesheet', href='chat.css')
    |    
    link(href='https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap', rel='stylesheet')
  body
    .Current-Chat
      .Current-Chat-Header
        .Current-Chat-Info
          .User-Profile-Pic-Header
            img.profile-image(src='chat-images/45324.png', alt='Current User Image')
          |                    
          .Username-Header
            p.name-header Luke Martin
            |                        
            p.text-header Online
        |                
        .Chat-Buttons
          svg(xmlns='http://www.w3.org/2000/svg', width='25px', height='25px', viewBox='0 0 36 32')
            path(fill='currentColor', d='M.5 31.983a.503.503 0 0 0 .612-.354c1.03-3.843 5.216-4.839 7.718-5.435c.627-.149 1.122-.267 1.444-.406c2.85-1.237 3.779-3.227 4.057-4.679a.5.5 0 0 0-.165-.473c-1.484-1.281-2.736-3.204-3.526-5.416a.492.492 0 0 0-.103-.171c-1.045-1.136-1.645-2.337-1.645-3.294c0-.559.211-.934.686-1.217a.5.5 0 0 0 .243-.408C10.042 5.036 13.67 1.026 18.12 1l.107.007c4.472.062 8.077 4.158 8.206 9.324a.498.498 0 0 0 .178.369c.313.265.459.601.459 1.057c0 .801-.427 1.786-1.201 2.772a.522.522 0 0 0-.084.158c-.8 2.536-2.236 4.775-3.938 6.145a.502.502 0 0 0-.178.483c.278 1.451 1.207 3.44 4.057 4.679c.337.146.86.26 1.523.403c2.477.536 6.622 1.435 7.639 5.232a.5.5 0 0 0 .966-.26c-1.175-4.387-5.871-5.404-8.393-5.95c-.585-.127-1.09-.236-1.336-.344c-1.86-.808-3.006-2.039-3.411-3.665c1.727-1.483 3.172-3.771 3.998-6.337c.877-1.14 1.359-2.314 1.359-3.317c0-.669-.216-1.227-.644-1.663C27.189 4.489 23.19.076 18.227.005l-.149-.002c-4.873.026-8.889 4.323-9.24 9.83c-.626.46-.944 1.105-.944 1.924c0 1.183.669 2.598 1.84 3.896c.809 2.223 2.063 4.176 3.556 5.543c-.403 1.632-1.55 2.867-3.414 3.676c-.241.105-.721.22-1.277.352c-2.541.604-7.269 1.729-8.453 6.147a.5.5 0 0 0 .354.612')
          |                    
          svg(xmlns='http://www.w3.org/2000/svg', width='25px', height='25px', viewBox='0 0 24 24')
            path(fill='currentColor', d='M11.5 16.5h1V11h-1zm.5-6.923q.262 0 .438-.177q.177-.177.177-.438q0-.262-.177-.439q-.176-.177-.438-.177t-.438.177q-.177.177-.177.439q0 .261.177.438q.176.177.438.177M12.003 21q-1.866 0-3.51-.708q-1.643-.709-2.859-1.924q-1.216-1.214-1.925-2.856Q3 13.87 3 12.003q0-1.866.708-3.51q.709-1.643 1.924-2.859q1.214-1.216 2.856-1.925Q10.13 3 11.997 3q1.866 0 3.51.708q1.643.709 2.859 1.924q1.216 1.214 1.925 2.856Q21 10.13 21 11.997q0 1.866-.708 3.51q-.709 1.643-1.924 2.859q-1.214 1.216-2.856 1.925Q13.87 21 12.003 21M12 20q3.35 0 5.675-2.325T20 12q0-3.35-2.325-5.675T12 4Q8.65 4 6.325 6.325T4 12q0 3.35 2.325 5.675T12 20m0-8')
          |                    
          svg(xmlns='http://www.w3.org/2000/svg', width='25px', height='25px', viewBox='0 0 256 256')
            path(fill='currentColor', d='M156 128a28 28 0 1 1-28-28a28 28 0 0 1 28 28m-28-52a28 28 0 1 0-28-28a28 28 0 0 0 28 28m0 104a28 28 0 1 0 28 28a28 28 0 0 0-28-28')
      |            
      .Messages
        .message-1
          .message-1-image
            img.profile-image(src='chat-images/45324.png', alt="Luke's Profile Photo")
          |                    
          .message-1p
            p Hey Sebastian! How&apos;s it going? &#x1F604;
        |                
        .message-2
          .message-2p
            p Hey Luke! I&apos;m good, thanks! How about you?
          |                    
          .message-2-image
            img.profile-image(src='chat-images/Sebastian.png', alt="Sebastian's Profile Photo")
        |                
        .message-3
          .message-3-image
            img.profile-image(src='chat-images/45324.png', alt="Luke's Profile Photo")
          |                    
          .message-3p
            p
              | I&apos;m doing well, just taking a break from work. So, tell me a bit about yourself. What do you do for fun?
      |            
      .Sending
        .Writing-Space
          p Write your message...
        |                
        .Send-Buttons
          svg(xmlns='http://www.w3.org/2000/svg', width='27px', height='27px', viewBox='0 0 16 16')
            path(fill='currentColor', d='M6.25 7.75a.75.75 0 1 0 0-1.5a.75.75 0 0 0 0 1.5m-.114 1.917a.5.5 0 1 0-.745.667A3.493 3.493 0 0 0 8 11.5a3.493 3.493 0 0 0 2.609-1.166a.5.5 0 0 0-.745-.667A2.492 2.492 0 0 1 8 10.5c-.74 0-1.405-.321-1.864-.833M10.5 7A.75.75 0 1 1 9 7a.75.75 0 0 1 1.5 0M14 8A6 6 0 1 0 2 8a6 6 0 0 0 12 0M3 8a5 5 0 1 1 10 0A5 5 0 0 1 3 8')
          |                    
          .Send-Button
            svg(xmlns='http://www.w3.org/2000/svg', width='20px', height='20px', viewBox='0 0 16 16')
              path(fill='white', d='M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855H.766l-.452.18a.5.5 0 0 0-.082.887l.41.26l.001.002l4.995 3.178l3.178 4.995l.002.002l.26.41a.5.5 0 0 0 .886-.083zm-1.833 1.89L6.637 10.07l-.215-.338a.5.5 0 0 0-.154-.154l-.338-.215l7.494-7.494l1.178-.471z')
