extends header
block head 
  meta(charset='UTF-8')
  |    
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  |    
  title FlatBuddies
  |    
  style.
    body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: white;
    }
    .tophalf {
    width: 100%;
    height: auto;
    background-color: #F2E9E2;
    }
    .photocel {
    margin-top: 10%;
    margin-left: 10%;
    width: 20%;
    height: auto;
    position: relative;
    }
    .picture {
    width: 100%;
    height: auto;
    object-fit: cover;
    }
    .profile {
    border-radius: 4vw;
    display: flex;
    width:  100%;
    height: auto;
    margin-right: 10%;
    }
    .picturemask {
    border-radius: 50%;
    width: 6vw;
    height: 6vw;
    display: flex;
    flex: none;
    position: absolute;
    top: -8%;
    left: 34%;
    overflow: hidden;
    }
    .slogcont {
    width: 25%;
    height: auto;
    display: flex;
    margin-left: 10%;
    }
    .slogan {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4vw;
    text-align: center;
    display: flex;
    font-weight: bold;
    }
    .content {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    }
    .triangle {
    position: relative;
    margin-top: 5%;
    width: 100%;
    height: auto;
    z-index: 0;
    }
    .tricont {
    height: auto;
    width: auto;
    position: relative;
    }
    .text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: min(1.3vw, 24px);
    text-align: center;
    width: 28%;
    position: absolute;
    top: 65%;
    left: 53%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    }
    .usertxt {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vw;
    font-weight: bold;
    margin-top: 5%;
    margin-bottom: 6%;
    }
    .saying {
    text-align: center;
    font-size: 1.5vw;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 2%;
    }
    .reviews {
    display: flex;
    justify-content: space-evenly ;
    flex-wrap: wrap;
    padding: 5%;
    }
    .boxes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: calc(33% - 6vw);
    margin: 3vw;
    border: solid;
    border-width: 0.75px;
    border-radius: 30px;
    border-color: black;
    }
    .reviewText{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5vw;
    margin: 10%;
    }
    .blueBanner  {
    background: #859EBC;
    overflow: hidden;
    border: solid;
    border-width: 0.75px;
    border-radius: 30px;
    border-color: black;
    }
    .nameText {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    }
    .photomask {
    border-radius: 50%;
    width: 6vw;
    height: 6vw;
    display: flex;
    position: relative;
    left: 130%;
    overflow: hidden;
    }
      
  body   
    .tophalf
      .content
        .photocel
          .picturemask
            img.picture(src='/images/45324.png', alt="Luke's profile picture")
          |                
          img.profile(src='/images/Luke-Example.png', alt="Luke's profile")
        |            
        .photocel
          .picturemask
            img.picture(src='/images/23436.png', alt="Celine's profile picture", width='auto', height='100%')
          |                
          img.profile(src='/images/Celine-Example.png', alt="Celine's profile")
        |            
        .slogcont
          p.slogan
            | Find Your Perfect Roomie!
      |        
      .tricont
        .text
          p
            | Finding the perfect flatmate just got easier. FlatBuddies is your go-to platform for connecting with like-minded individuals who share your lifestyle and preferences. Whether you&apos;re a student, a young professional, or simply looking for a fresh start in London, FlatBuddies has you covered.
        |            
        img.triangle(src='/images/triangle.png', alt='This is a shape similar to a triangle')
    |    
    p.usertxt User reviews
    |    
    p.saying What users are saying...
    |    
    .reviews
      each review in reviews
        .boxes
          .reviewText
            p= review.review 
              .photocel
                .photomask
                  img.picture(src='static/images/${review.user_id}.png', alt="${review.name}'s profile picture", width='auto', height='100%')
              .blueBanner
                p.nameText= review.name

        //.boxes
          .photocel
            .photomask
              img.picture(src='static/images/00011.png', alt="James's profile picture", width='auto', height='100%')
          .blueBanner
            .nameText
              p James

        //.boxes
          .photocel
            .photomask
              img.picture(src='static/images/00010.png', alt="Blessing's profile picture", width='auto', height='100%')
          .blueBanner
            .nameText
              p Blessing