extends header
block head
    title Register
block content
    h1 Register here
    form(action='/set-password' method='POST')
        label(for='email') Email: 
        input(name='email') 
        label(for='password') Password: 
        input(name='password' type = 'password')
        label(for='confirm') Confirm password: 
        input(name='password' type = 'password')
        input(type='submit' value='Create your account')
