extends header 
block head
  meta(charset='UTF-8')
  |    
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  |    
  title Reviews
  |    
  style.
    body {
    max-width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #F2E9E2;
    }
    .Review {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 80px;
    padding-bottom: 80px;
    font-family: sans-serif;
    }
    .review-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    width: 80%;
    height: auto;
    border-radius: 50px;
    border: solid;
    }
    .title {
    margin-top: 45px;
    margin-bottom: 25px;
    font-size: 20px;
    font-weight: 600;
    }
    .title-p {
    margin-bottom: 40px;
    font-size: 20px;
    }
    .stars {
    zoom: 150%;
    }
    .text-box {
    width: 70%;
    margin-top: 45px;
    }
    .text-box-label {
    }
    .box {
    width: 75%;
    height: 200px;
    border-radius: 25px;
    border: solid;
    }
    .submit-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    margin-top: 45px;
    margin-bottom: 45px;
    width: 90px;
    height: 30px;
    background-color: rgb(from #FE6941 r g b / 75%);
    box-shadow: inset 0 0 2px;
    border: solid;
    }
    .submit {
    }
  
 


block content 
  form.Review(action="/submit_review", method="POST")
    .review-box
      p.title Leave a review
      |            
      p.title-p Click the stars to rate us:
      |            
      .stars
        | &star;
        | &star;
        | &star;
        | &star;
        | &star;
      |            
      .text-box
        p.text-box-label Review:
      |            
      .box
      |            
      .submit-button
        p.submit SUBMIT

  