extends header
block head
  meta(charset='UTF-8')
  |     
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  |     
  title User Profile: 56789
  |     
  style.
    {/*.NavBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    width: auto;
    height: 70px;
    padding-left: 50px;
    padding-right: 50px;
    margin: -10px;
    border: 1px solid;
    border-bottom: 0.5px solid;
    }
    .Logo {
    width: 150px;
    height: 45px;
    }
    .buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
    color: #FE6941;
    }*/}
    body {
    background-color: #F2E9E2;
    font-family: sans-serif;
    }
    .Profile-Main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1075px;
    padding: 40px;
    margin: auto;
    }
    #Profile-Header {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
    }
    #Profile-Pic {
    padding: 10px;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    overflow: hidden;
    margin-right: 20px;
    }
    #First-Look {
    flex: 1;
    box-sizing: border-box;
    border: 1px solid #333;
    border-radius: 15px;
    padding: 20px;
    background-color: rgba(254, 105, 65, 0.32);
    margin-right: 20px;
    }
    #First-Look h1 {
    margin: 0;
    font-size: 48px;
    }
    #First-Look p {
    margin-top: 10px;
    font-size: 24px;
    }
    #Bio {
    box-sizing: border-box;
    border: 1px solid #333;
    border-radius: 15px;
    width: 100%; 
    margin: auto; 
    min-height: 150px;
    padding: 20px;
    background-color: white;
    }
    #Profile-Details {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    }
    .box {
    border: 1px solid #333;
    border-radius: 20px;
    padding: 5px;
    margin: 5px;
    flex-grow: 0;
    width: 100%;
    min-width: 100px;
    max-width: 225px;
    text-align: center;
    }
    {/*footer {
    color: #000000;
    padding: 20px 0;
    }
    .footer-container {
    display: flex;
    justify-content: space-around;
    width: 70%;
    height: 110px;
    margin: 1px auto;
    padding: 15px;
    }
    .footer-section {
    flex: 1;
    }
    .footer-section h3 {
    font-family: sans-serif;
    font-size: 17px;
    margin-bottom: 10px;
    }
    .footer-section ul {
    list-style-type: none;
    padding: 0;
    }
    .footer-section ul li {
    margin-bottom: 5px;
    font-family: sans-serif;
    font-weight: 200;
    font-size: 13px;
    }
    .footer-section ul li a {
    text-decoration: none;
    color: inherit;
    }
    .footer-section ul li a:hover{
    Color: #FE6941;
    }
    .footer-section img{
    width: 150px;
    height: 45px;
    margin-top: 30%;
    margin-left: 100px;
    }
    .copyright {
    display: flex;
    height: 80px;
    border-top: 1px solid #000;
    }
    .copyright p {
    margin-top: 30px;
    margin-left: 70%;
    color: #999;
    font-family: sans-serif;
    font-size: 13px;
    }*/}
    @media only screen and (max-width: 600px) {
    {/*}.buttons {
    width: auto;
    }*/}
    #Profile-Header {
    flex-direction: column;
    align-items: center;
    }
    #Profile-Pic {
    margin-right: 0; 
    margin-bottom: 20px; 
    }
    #First-Look {
    width: 100%;
    max-width: 600px;
    margin-top: 20px; 
    margin-right: 0; 
    }
    #Profile-Pic {
    margin-right: 0; 
    margin-bottom: 20px; 
    }
    #Bio {
    width: 100%;
    max-width: 600px; 
    margin: auto; 
    min-height: 150px;
    padding: 20px;
    background-color: white;
    }
    .box {
    width: calc(50% - 20px);
    }
    {/*.footer-container {
    width: 90%; 
    }
    .footer-section {
    margin-top: 10px; 
    }
    .footer-section img {
    margin-top: 10px; 
    }
    .copyright p {
    margin-left: 50%; 
    }
    }*/}
    @media screen and (max-width: 368px) {
    {/*}.NavBar {
    padding: 0 10px; 
    }
    .Logo {
    width: 120px; 
    height: 36px;
    }*/}
    #First-Look {
    width: 100%;
    max-width: 300px;
    margin-top: 20px; 
    margin-right: 0; 
    }
    #Bio {
    width: 100%;
    max-width: 300px; 
    margin: auto; 
    min-height: auto;
    padding: 20px;
    background-color: white;
    }
    .box {
    width: calc(100% - 20px); 
    }
    {/*}.footer-container {
    flex-direction: column; 
    align-items: center; 
    height: auto; 
    }
    .footer-section {
    margin-top: 15px; 
    }
    .footer-section img {
    margin: 10px auto; 
    }
    .copyright p {
    margin-left: auto; 
    margin-right: auto; 
    text-align: center; 
    }
    }*/}
block content     
  .Profile-Main
    #Profile-Header
      img#Profile-Pic(src='http://127.0.0.1:5500/Roommate-Matching-App/pg-sd2/static/images/56789.png', alt='Profile Photo')
      |             
      #First-Look
        h1 name, age
        |                 
        p Occupation
    |         
    #Bio Bio written here
    |         
    #Profile-Details
      .box(style='background-color: rgba(241, 20, 20, .2);') Country
      |             
      .box(style='background-color: rgba(24, 85, 177, .2);') Politics
      |             
      .box(style='background-color: rgba(150, 106, 87, .2);') Religion
      |             
      .box(style='background-color: rgba(188, 213, 251, .2);') Noise
      |             
      .box(style='background-color: rgba(233, 237, 46, .2);') Pets
      |             
      .box(style='background-color: rgba(81, 122, 85, .2);') Groceries
      |             
      .box(style='background-color: rgba(168, 62, 177, .2);') Schedule
      |             
      .box(style='background-color: rgba(255, 198, 130, .2);') Cleanliness
      |             
      .box(style='background-color: rgba(137, 247, 85, .2);') Organised
      |             
      .box(style='background-color: rgba(209, 151, 0, .2);') Guests
      |             
      .box(style='background-color: rgba(221, 113, 230, .2);') One Gender Only
  |  